{% extends 'base.html.twig' %}

{% block title %}Not Authorized{% endblock %}

{% block body %}
<h1>Not Authorized</h1>
<p>You do not have permission to view this page.</p>
<a href="{{ path('app_home') }}">Return to the homepage</a>
{% endblock %}